@import 'tailwindcss';
@import 'tw-animate-css';
/* ---break---  */
@custom-variant dark (&:is(.dark *));

/* extending tailwind classes  */
@theme {
  --font-inter: 'Inter', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-primary: #6d28d2;
  --color-primary-50: #f0e5ff;
  --color-primary-100: #e2d4f6;
  --color-primary-200: #ceb7f0;
  --color-primary-300: #b693e8;
  --color-primary-400: #9e70e1;
  --color-primary-500: #6d28d2;
  --color-primary-600: #5b21af;
  --color-primary-700: #491b86;
  --color-primary-800: #361469;
  --color-heading: #1a1a1a;
  --color-paragraph: #bdbdbd;
  --color-error: #c82828;
  --color-ourGray: rgba(189, 189, 189, 1);
  --color-ourGray-100: rgba(236, 234, 234, 1);
}
.container {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  @apply font-inter;
}

/* custom calsses */
.nav-links {
  @apply cursor-pointer px-6 py-4 font-semibold text-gray-700 capitalize hover:text-purple-700 md:inline md:px-4 md:py-0;
}
.scrollbarnone::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.jerseyFont {
  font-family: 'Jersey 25', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.dashboardLinks {
  border: 1px solid #dedede;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bg-radial-bottom-left {
  background:
    radial-gradient(at bottom left, #ceb7f080 0%, transparent 70%),
    radial-gradient(at top right, #ceb7f080 0%, transparent 70%);
  min-height: 80vh;
}

/* ---break---  */

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* ---break---  */

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #09090b;
  --card: #ffffff;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #18181b;
  --primary-foreground: #fafafa;
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --muted: #f4f4f5;
  --muted-foreground: #71717b;
  --accent: #f4f4f5;
  --accent-foreground: #18181b;
  --destructive: #e7000b;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: #9f9fa9;
  --chart-1: #f54900;
  --chart-2: #009689;
  --chart-3: #104e64;
  --chart-4: #ffb900;
  --chart-5: #fe9a00;
  --sidebar: #fafafa;
  --sidebar-foreground: #09090b;
  --sidebar-primary: #18181b;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #f4f4f5;
  --sidebar-accent-foreground: #18181b;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #9f9fa9;
}

/* ---break---  */

.dark {
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b;
  --card-foreground: #fafafa;
  --popover: #18181b;
  --popover-foreground: #fafafa;
  --primary: #e4e4e7;
  --primary-foreground: #18181b;
  --secondary: #27272a;
  --secondary-foreground: #fafafa;
  --muted: #27272a;
  --muted-foreground: #9f9fa9;
  --accent: #27272a;
  --accent-foreground: #fafafa;
  --destructive: #ff6467;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #71717b;
  --chart-1: #1447e6;
  --chart-2: #00bc7d;
  --chart-3: #fe9a00;
  --chart-4: #ad46ff;
  --chart-5: #ff2056;
  --sidebar: #18181b;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #1447e6;
  --sidebar-primary-foreground: #fafafa;
  --sidebar-accent: #27272a;
  --sidebar-accent-foreground: #fafafa;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #71717b;
}

/* ---break---  */

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
