@import 'tailwindcss';

/* extending tailwind classes  */
@theme {
  --font-inter: 'Inter', sans-serif;
  --color-primary: #6d28d2;
  --color-primary-100: #e2d4f6;
  --color-primary-200: #ceb7f0;
  --color-primary-300: #b693e8;
  --color-primary-400: #9e70e1;
  --color-primary-500: #6d28d2;
  --color-primary-600: #5b21af;
  --color-primary-700: #491b86;
  --color-primary-800: #361469;
  --color-heading: #1a1a1a;
  --color-paragraph: #bdbdbd;
  --color-error: #c82828;
  --color-ourGray: rgba(189, 189, 189, 1);
}
.container {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  @apply font-inter;
}

/* custom calsses */
.nav-links {
  @apply cursor-pointer px-6 py-4 font-semibold text-gray-700 capitalize hover:text-purple-700 md:inline md:px-4 md:py-0;
}
.scrollbarnone::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

.jerseyFont {
  font-family: "Jersey 25", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.dashboardLinks {
  border: 1px solid #DEDEDE;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}