@import 'tailwindcss';

/* extending tailwind classes  */
@theme {
  --font-inter: 'Inter', sans-serif;
}
.container {
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
p {
  @apply font-inter;
}

/* custom calsses */
.nav-links {
  @apply cursor-pointer px-6 py-4 font-semibold text-gray-700 capitalize hover:text-purple-700 md:inline md:px-4 md:py-0;
}
.scrollbarnone::-webkit-scrollbar {
  display: none;
}

.scroll-container {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-container::-webkit-scrollbar {
  display: none;
}

@theme {
    --color-primary: #6D28D2;
    --color-primary-100: #E2D4F6;
    --color-primary-200: #CEB7F0;
    --color-primary-300: #B693E8;
    --color-primary-400: #9E70E1;
    --color-primary-500: #6D28D2;
    --color-primary-600: #5B21AF;
    --color-primary-700: #491B86;
    --color-primary-800: #361469;
    --color-heading: #1A1A1A;
    --color-paragraph: #BDBDBD;
    --color-error: #C82828;
}
